<!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
<li class="dropdown">


  <% if (user_signed_in?)%>
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"
role="button" aria-haspopup="true" aria-expanded="false">

<%= current_user.fullname %> <span class="caret"></span></a>

  <ul class="dropdown-menu">
<li><%= link_to "Manage Listing", rooms_path %></li>
<li><%= link_to "List Your Home", new_room_path %></li>
<li><%= link_to "Your Bookings", your_trips_path %></li>
<!--<li><%= link_to "Your Trips ",your_trips_path %></li>-->
  <li role="separator" class="divider"></li>
<li><%= link_to " Edit Profie ", edit_user_registration_path %></li>
<li><%= link_to " Log Out ", destroy_user_session_path , method: :delete %></li>

</li>
  </ul>
</li>
<% end %>

          <a class="navbar-brand" href="#"></a>
<%= link_to "Home Away ", root_path, class: "navbar-brand" %>





          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>
